.main{
    width: 50%;
    background-color:#FFC2E2;
    color: rgb(10, 17, 24);
height:80vh;
border: 5px solid white;
border-radius: 10%;
position: relative;

}
.previewtab{
    width: 50%;
    background-color:#FF90B3;
    color: rgb(10, 17, 24);
    height:80vh;
    border: 5px solid white;
    border-radius: 10%;
    position: relative;


}

    .btn {
        border: none;
        width: 7em;
        height: 2em;
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background: #e6e0e6;
        cursor: pointer;
        transition: all 450ms ease-in-out;
        color: #110a16;
        /* position: absolute; */
        top: 30%
        /* padding-top: 20px;; */
      }
      
      .sparkle {
        fill: #271c1c;
        transition: all 800ms ease;
      }
      
      .text {
        font-weight: 600;
        color: #030202;
        font-size: medium;
      }
      
      .btn:hover {
        background: linear-gradient(0deg,#A47CF3,#683FEA);
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
        transform: translateY(-2px);
      }
      
      .btn:hover .text {
        color: white;
      }
      
      .btn:hover .sparkle {
        fill: white;
        transform: scale(1.2);
      } 
      .allbtn{
        /* background-image: url(../../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg); */
        height:20vh;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

      }
      .maininp{
        width: 500px;
        position: absolute;
        top: 30%;
        border: none;
        height: 15%;
        left: 10%;
        border-radius: 50px;
        padding-left: 20%;
      }
      .resulttab{
        padding-left: 20%;

        width: 500px;
        position: absolute;
        top: 30%;
        border: none;
        height: 15%;
        left: 10%;
        border-radius: 50px;
      }
